body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #45a247, #283c86);
    color: white;
    padding: 50px;

}

header {
    position: relative;
    background-size: cover;
    height: 200px;
    padding-left: 3%;

    ul {
        width: 30%;
        padding: 13px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
        position: absolute;
        bottom: 0;
        margin: 0;
        background-color: #29323c;
    }

    h1 {
        padding-top: 2%;
        font-size: 2.5em;
        text-align: center;
        padding-right: 2em;
        color: white;
    }

    a {
        text-decoration: none;
        color: white;

        &:visited {
            color: white;
        }

        &:hover {
            color: gray;
            text-decoration: underline;

        }
    }
}

.sectionAcceuil {
    border-radius: 15px;
    width: 35%;
    background-color: #29323c;
    text-align: left;
    padding: 25px;
    margin: 50px auto;

    h2 {
        text-align: center;
    }

    img {
        display: block;
        margin: 20px auto;
        border-radius: 15px;
        width: 50%;
    }

}

.sectionConnect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 35%;
    background-color: #29323c;
    text-align: center;
    padding: 30px;
    margin: auto;
    color: white;

    h2 {
        margin-bottom: 20px;
    }

    button {
        display: inline-block;
        margin: 20px;
        padding: 20px;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        background-color: #283c86;
        color: white;
        transition: background-color 0.3s ease;


        &:hover {
            background-color: white;
            transition: background-color 0.3s ease;
        }
    }

    .cardDeck {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        border-radius: 15px;
        padding: 30px;
        width: 100%;
        box-sizing: border-box;

        .singleCard {
            border: solid;
            border-color: white;
            background: linear-gradient(to right, #45a247, #283c86);
            width: 100px;
            height: 100px;
            border-radius: 10px;
            padding: 20px;

            .visible {}

            .notVisible {}

        }




    }


}